// @import "breakpoints/base";

// @media (min-width:480px) {
//   @import 'breakpoints/480up';
// }

// @media (min-width:600px) {
//   @import 'breakpoints/600up';
// }

// @media (min-width:960px) {
//   @import 'breakpoints/960up';
// }

// @media (min-width:1280px) {
//   @import 'breakpoints/1280up';
// }
// // 高解像度の時
// @media (min-resolution:192dpi),
//       (-webkit-min-device-pixel-ratio: 2) {
//         @import 'breakpoints/2x';
// }
// @media print {
//   @import 'breakpoints/print';
// }
// キーフレームを使うため
@import 'mixin';

$cWhite: white;
$cBlack: black;

// .header {
//   & .btn {
//     position: relative;
//     display: inline-block;
//     // background-color: $cWhite;
//     border: 1px solid $cBlack;
//     font-weight: 600;
//     padding: 10px 40px;
//     margin: 10px auto;
//     cursor: pointer;
//     transition: all 0.3s;
//     color: $cBlack;
//     text-decoration: none !important;

//     &.filled{
//       background-color: $cBlack;
//       color: $cWhite;
//       box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);

//       &:hover {
//         background-color: $cWhite;
//         color: $cBlack;
//         box-shadow: none;
//       }

//     }
//   }
// }


.swiper {
  width: 100%;
  height: 300px;
}

.hero {
  &__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // ここまでが中央揃え
    color: $cWhite;
    font-size: 25px;
  }

  &__footer {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    z-index: 2;
    height: 68px;
    width: 22px;
    // 矢印が伸びたように見える
    overflow: hidden;
  }

  &__downarrow {
    position: absolute;
    left:0;
    bottom:0;
    width:6px;
    @include animation(
      $name: kf-arrow-anime,
      $iteration-count: infinite,
      $duration: 2s,
      $timing-function: linear
    )
  }

  &__scrolltext {
    position: absolute;
    transform: rotate(90deg);
    left: -8px;
    top: 11px;
    font-size: 1.2em;
    color: rgba(255, 255, 255, 0.7);
  }

}

@keyframes kf-arrow-anime {
  0%, 50%, 100%{
    transform: translateY(-10%);
  }
  30%{
    transform: none;
  }
}