@import 'breakpoints/base';

@media (min-width:480px) {
  @import 'breakpoints/480up';
}

@media (min-width:600px) {
  @import 'breakpoints/600up';
}

@media (min-width:960px) {
  @import 'breakpoints/960up';
}

@media (min-width:1280px) {
  @import 'breakpoints/1280up';
}
// 高解像度の時
@media (min-resolution:192dpi),
      (-webkit-min-device-pixel-ratio: 2) {
        @import 'breakpoints/2x';
}
@media print {
  @import 'breakpoints/print';
}



$cWhite: white;
$cBlack: black;

.header {
  & .btn {
    position: relative;
    display: inline-block;
    // background-color: $cWhite;
    border: 1px solid $cBlack;
    font-weight: 600;
    padding: 10px 40px;
    margin: 10px auto;
    cursor: pointer;
    transition: all 0.3s;
    color: $cBlack;
    text-decoration: none !important;

    &.filled{
      background-color: $cBlack;
      color: $cWhite;
      box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);

      &:hover {
        background-color: $cWhite;
        color: $cBlack;
        box-shadow: none;
      }

    }
  }
}